<div class="alert alert-block alert-info">
<center>ESTATÍSTICA APLICADA</center>
<center>MINI-PROJETO</center>
<center>ALUNO: Luís Felipe Ferreira Tavares Nonato</center>
</div>

<div class="alert alert-block alert-info">
    Processando emails
<div>

In [1]:
import pandas as pd
import mailbox

In [2]:
mbox = mailbox.mbox('emails.mbox')
mbox

In [3]:
for chaves in mbox[0]: print(chaves)

X-GM-THRID
X-Gmail-Labels
Delivered-To
Received
X-Google-Smtp-Source
X-Received
ARC-Seal
ARC-Message-Signature
ARC-Authentication-Results
Return-Path
Received
Received-SPF
Authentication-Results
DKIM-Signature
DKIM-Signature
Received
Received
Content-Type
Date
From
Mime-Version
Message-ID
Subject
X-Feedback-ID
X-SG-EID
X-SG-ID
To
X-Entity-ID
List-Unsubscribe

In [4]:
import csv

with open('emails.csv', 'w') as outputfile:
  writer = csv.writer(outputfile)
  writer.writerow(['subject','from','date','to',
                   'label','thread'])
    
  for message in mbox:
    writer.writerow([message['subject'], message['from'],  
                     message['date'], message['to'],  
                     message['X-Gmail-Labels'], message['X-GM-THRID']])

In [5]:
df = pd.read_csv('emails.csv')

In [6]:
df

,subject,from,date,to,label,thread
0,Time to get back in shape?,Fabulous <web@thefabulous.co>,"Mon, 04 Jul 2022 14:30:15 +0000 (UTC)",lipe.lftn@gmail.com,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1737432777073915808
1,"""mio"", ""Tattoo Ideaa"" e 4 outras pastas inspir...",Pinterest <recommendations@discover.pinterest....,"Thu, 02 Jun 2022 12:08:45 +0000",Luis Felipe <lipe.lftn@gmail.com>,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1734524772306003770
2,=?utf-8?Q?Um_novo_aparelho_est=C3=A1_usando_su...,Netflix <info@mailer.netflix.com>,"Sun, 15 May 2022 02:12:47 +0000",lipe.lftn@gmail.com,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1732856530934467119
3,"=?utf-8?Q?Pai_e_M=C3=A3e,_achamos_que_voc=C3=A...",Netflix <info@mailer.netflix.com>,"Wed, 25 May 2022 15:42:20 +0000",lipe.lftn@gmail.com,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1733813434473684566
4,"=?UTF-8?q?""Vs"",_""background_/_=D0=9E=D0=B1=D0=...",Pinterest <recommendations@discover.pinterest....,"Wed, 18 May 2022 00:15:23 +0000",Luis Felipe <lipe.lftn@gmail.com>,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1733120937706351873
...,...,...,...,...,...,...
3878,Corre que dura pouco,Promonews<news@promobit.com.br>,"Fri, 22 Oct 2021 15:06:46 +0000",lipe.lftn@gmail.com,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1714332848358274053
3879,=?utf-8?B?THVpcywgYXTDqSBSJCA1MDAgT0ZGIG5vIHBy...,"""Samsung"" <no-reply@m21.email.samsung.com>","Tue, 03 May 2022 20:48:43 -0700",<lipe.lftn@gmail.com>,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1731866006465197762
3880,Reserve a data para a MAX: 18 a 20 de outubro,"""Adobe MAX"" <mail@mail.adobe.com>","Fri, 10 Jun 2022 10:30:23 -0700",<lipe.lftn@gmail.com>,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1735269800039910779
3881,=?UTF-8?Q?A_fase_de_mata-mata_come=C3=A7ou!?=,"""Premiere"" <noreply@premiereplay.globo.com>","Wed, 23 Mar 2022 09:34:50 -0600",<lipe.lftn@gmail.com>,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1728106151954670017
3882,Quer um bom motivo pra se tornar =?UTF-8?B?bsO...,Mercado Livre Ofertas <ofertas@a.mercadolivre....,"Tue, 31 May 2022 15:11:31 +0000 (UTC)",Luis Felieo <lipe.lftn@gmail.com>,"=?UTF-8?Q?Caixa_de_entrada,Categoria:_promo=C3...",1734355077956303489

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   subject  3880 non-null   object
 1   from     3883 non-null   object
 2   date     3883 non-null   object
 3   to       3883 non-null   object
 4   label    3883 non-null   object
 5   thread   3883 non-null   int64
dtypes: int64(1), object(5)
memory usage: 182.1+ KB

In [8]:
df['date'] = df['date'].apply(lambda x: pd.to_datetime(x, 
                                                       errors='coerce', 
                                                       utc=True))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   subject  3880 non-null   object
 1   from     3883 non-null   object
 2   date     3883 non-null   datetime64[ns, UTC]
 3   to       3883 non-null   object
 4   label    3883 non-null   object
 5   thread   3883 non-null   int64
dtypes: datetime64[ns, UTC](1), int64(1), object(4)
memory usage: 182.1+ KB

In [10]:
df['from']

0                           Fabulous <web@thefabulous.co>
1       Pinterest <recommendations@discover.pinterest....
2                       Netflix <info@mailer.netflix.com>
3                       Netflix <info@mailer.netflix.com>
4       Pinterest <recommendations@discover.pinterest....
                              ...
3878                      Promonews<news@promobit.com.br>
3879           "Samsung" <no-reply@m21.email.samsung.com>
3880                    "Adobe MAX" <mail@mail.adobe.com>
3881          "Premiere" <noreply@premiereplay.globo.com>
3882    Mercado Livre Ofertas <ofertas@a.mercadolivre....
Name: from, Length: 3883, dtype: object

In [11]:
import re

In [12]:
def extracao_email(string):
  email = re.findall(r'<(.+?)>', string)
  if not email:
    email = list(filter(lambda y: '@' in y, string.split()))
  return email[0] if email else np.nan

In [13]:
df['from'] = df['from'].apply(lambda x: extracao_email(x))

In [14]:
df['from']

0                           web@thefabulous.co
1       recommendations@discover.pinterest.com
2                      info@mailer.netflix.com
3                      info@mailer.netflix.com
4       recommendations@discover.pinterest.com
                         ...
3878                      news@promobit.com.br
3879            no-reply@m21.email.samsung.com
3880                       mail@mail.adobe.com
3881            noreply@premiereplay.globo.com
3882             ofertas@a.mercadolivre.com.br
Name: from, Length: 3883, dtype: object

In [15]:
df['label'] = df['from'].apply(lambda x: 
                               'enviado' if x=='paulo.lins@ifpb.edu.br' else 'inbox')

In [16]:
df['label'].unique()

array(['inbox'], dtype=object)

In [17]:
import datetime
import pytz

In [18]:
for tz in pytz.all_timezones: print(tz)

Africa/Abidjan
Africa/Accra
Africa/Addis_Ababa
Africa/Algiers
Africa/Asmara
Africa/Asmera
Africa/Bamako
Africa/Bangui
Africa/Banjul
Africa/Bissau
Africa/Blantyre
Africa/Brazzaville
Africa/Bujumbura
Africa/Cairo
Africa/Casablanca
Africa/Ceuta
Africa/Conakry
Africa/Dakar
Africa/Dar_es_Salaam
Africa/Djibouti
Africa/Douala
Africa/El_Aaiun
Africa/Freetown
Africa/Gaborone
Africa/Harare
Africa/Johannesburg
Africa/Juba
Africa/Kampala
Africa/Khartoum
Africa/Kigali
Africa/Kinshasa
Africa/Lagos
Africa/Libreville
Africa/Lome
Africa/Luanda
Africa/Lubumbashi
Africa/Lusaka
Africa/Malabo
Africa/Maputo
Africa/Maseru
Africa/Mbabane
Africa/Mogadishu
Africa/Monrovia
Africa/Nairobi
Africa/Ndjamena
Africa/Niamey
Africa/Nouakchott
Africa/Ouagadougou
Africa/Porto-Novo
Africa/Sao_Tome
Africa/Timbuktu
Africa/Tripoli
Africa/Tunis
Africa/Windhoek
America/Adak
America/Anchorage
America/Anguilla
America/Antigua
America/Araguaina
America/Argentina/Buenos_Aires
America/Argentina/Catamarca
America/Argentina/ComodRivadavia
America/Argentina/Cordoba
America/Argentina/Jujuy
America/Argentina/La_Rioja
America/Argentina/Mendoza
America/Argentina/Rio_Gallegos
America/Argentina/Salta
America/Argentina/San_Juan
America/Argentina/San_Luis
America/Argentina/Tucuman
America/Argentina/Ushuaia
America/Aruba
America/Asuncion
America/Atikokan
America/Atka
America/Bahia
America/Bahia_Banderas
America/Barbados
America/Belem
America/Belize
America/Blanc-Sablon
America/Boa_Vista
America/Bogota
America/Boise
America/Buenos_Aires
America/Cambridge_Bay
America/Campo_Grande
America/Cancun
America/Caracas
America/Catamarca
America/Cayenne
America/Cayman
America/Chicago
America/Chihuahua
America/Coral_Harbour
America/Cordoba
America/Costa_Rica
America/Creston
America/Cuiaba
America/Curacao
America/Danmarkshavn
America/Dawson
America/Dawson_Creek
America/Denver
America/Detroit
America/Dominica
America/Edmonton
America/Eirunepe
America/El_Salvador
America/Ensenada
America/Fort_Nelson
America/Fort_Wayne
America/Fortaleza
America/Glace_Bay
America/Godthab
America/Goose_Bay
America/Grand_Turk
America/Grenada
America/Guadeloupe
America/Guatemala
America/Guayaquil
America/Guyana
America/Halifax
America/Havana
America/Hermosillo
America/Indiana/Indianapolis
America/Indiana/Knox
America/Indiana/Marengo
America/Indiana/Petersburg
America/Indiana/Tell_City
America/Indiana/Vevay
America/Indiana/Vincennes
America/Indiana/Winamac
America/Indianapolis
America/Inuvik
America/Iqaluit
America/Jamaica
America/Jujuy
America/Juneau
America/Kentucky/Louisville
America/Kentucky/Monticello
America/Knox_IN
America/Kralendijk
America/La_Paz
America/Lima
America/Los_Angeles
America/Louisville
America/Lower_Princes
America/Maceio
America/Managua
America/Manaus
America/Marigot
America/Martinique
America/Matamoros
America/Mazatlan
America/Mendoza
America/Menominee
America/Merida
America/Metlakatla
America/Mexico_City
America/Miquelon
America/Moncton
America/Monterrey
America/Montevideo
America/Montreal
America/Montserrat
America/Nassau
America/New_York
America/Nipigon
America/Nome
America/Noronha
America/North_Dakota/Beulah
America/North_Dakota/Center
America/North_Dakota/New_Salem
America/Nuuk
America/Ojinaga
America/Panama
America/Pangnirtung
America/Paramaribo
America/Phoenix
America/Port-au-Prince
America/Port_of_Spain
America/Porto_Acre
America/Porto_Velho
America/Puerto_Rico
America/Punta_Arenas
America/Rainy_River
America/Rankin_Inlet
America/Recife
America/Regina
America/Resolute
America/Rio_Branco
America/Rosario
America/Santa_Isabel
America/Santarem
America/Santiago
America/Santo_Domingo
America/Sao_Paulo
America/Scoresbysund
America/Shiprock
America/Sitka
America/St_Barthelemy
America/St_Johns
America/St_Kitts
America/St_Lucia
America/St_Thomas
America/St_Vincent
America/Swift_Current
America/Tegucigalpa
America/Thule
America/Thunder_Bay
America/Tijuana
America/Toronto
America/Tortola
America/Vancouver
America/Virgin
America/Whitehorse
America/Winnipeg
America/Yakutat
America/Yellowknife
Antarctica/Casey
Antarctica/Davis
Antarctica/DumontDUrville
Antarctica/Macquarie
Antarctica/Mawson
Antarctica/McMurdo
Antarctica/Palmer
Antarctica/Rothera
Antarctica/South_Pole
Antarctica/Syowa
Antarctica/Troll
Antarctica/Vostok
Arctic/Longyearbyen
Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Ashkhabad
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Calcutta
Asia/Chita
Asia/Choibalsan
Asia/Chongqing
Asia/Chungking
Asia/Colombo
Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Harbin
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Istanbul
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kashgar
Asia/Kathmandu
Asia/Katmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macao
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Rangoon
Asia/Riyadh
Asia/Saigon
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Tel_Aviv
Asia/Thimbu
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ujung_Pandang
Asia/Ulaanbaatar
Asia/Ulan_Bator
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan
Atlantic/Azores
Atlantic/Bermuda
Atlantic/Canary
Atlantic/Cape_Verde
Atlantic/Faeroe
Atlantic/Faroe
Atlantic/Jan_Mayen
Atlantic/Madeira
Atlantic/Reykjavik
Atlantic/South_Georgia
Atlantic/St_Helena
Atlantic/Stanley
Australia/ACT
Australia/Adelaide
Australia/Brisbane
Australia/Broken_Hill
Australia/Canberra
Australia/Currie
Australia/Darwin
Australia/Eucla
Australia/Hobart
Australia/LHI
Australia/Lindeman
Australia/Lord_Howe
Australia/Melbourne
Australia/NSW
Australia/North
Australia/Perth
Australia/Queensland
Australia/South
Australia/Sydney
Australia/Tasmania
Australia/Victoria
Australia/West
Australia/Yancowinna
Brazil/Acre
Brazil/DeNoronha
Brazil/East
Brazil/West
CET
CST6CDT
Canada/Atlantic
Canada/Central
Canada/Eastern
Canada/Mountain
Canada/Newfoundland
Canada/Pacific
Canada/Saskatchewan
Canada/Yukon
Chile/Continental
Chile/EasterIsland
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc/GMT
Etc/GMT+0
Etc/GMT+1
Etc/GMT+10
Etc/GMT+11
Etc/GMT+12
Etc/GMT+2
Etc/GMT+3
Etc/GMT+4
Etc/GMT+5
Etc/GMT+6
Etc/GMT+7
Etc/GMT+8
Etc/GMT+9
Etc/GMT-0
Etc/GMT-1
Etc/GMT-10
Etc/GMT-11
Etc/GMT-12
Etc/GMT-13
Etc/GMT-14
Etc/GMT-2
Etc/GMT-3
Etc/GMT-4
Etc/GMT-5
Etc/GMT-6
Etc/GMT-7
Etc/GMT-8
Etc/GMT-9
Etc/GMT0
Etc/Greenwich
Etc/UCT
Etc/UTC
Etc/Universal
Etc/Zulu
Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich
GB
GB-Eire
GMT
GMT+0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian/Antananarivo
Indian/Chagos
Indian/Christmas
Indian/Cocos
Indian/Comoro
Indian/Kerguelen
Indian/Mahe
Indian/Maldives
Indian/Mauritius
Indian/Mayotte
Indian/Reunion
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico/BajaNorte
Mexico/BajaSur
Mexico/General
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific/Apia
Pacific/Auckland
Pacific/Bougainville
Pacific/Chatham
Pacific/Chuuk
Pacific/Easter
Pacific/Efate
Pacific/Enderbury
Pacific/Fakaofo
Pacific/Fiji
Pacific/Funafuti
Pacific/Galapagos
Pacific/Gambier
Pacific/Guadalcanal
Pacific/Guam
Pacific/Honolulu
Pacific/Johnston
Pacific/Kanton
Pacific/Kiritimati
Pacific/Kosrae
Pacific/Kwajalein
Pacific/Majuro
Pacific/Marquesas
Pacific/Midway
Pacific/Nauru
Pacific/Niue
Pacific/Norfolk
Pacific/Noumea
Pacific/Pago_Pago
Pacific/Palau
Pacific/Pitcairn
Pacific/Pohnpei
Pacific/Ponape
Pacific/Port_Moresby
Pacific/Rarotonga
Pacific/Saipan
Pacific/Samoa
Pacific/Tahiti
Pacific/Tarawa
Pacific/Tongatapu
Pacific/Truk
Pacific/Wake
Pacific/Wallis
Pacific/Yap
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Samoa
UTC
Universal
W-SU
WET
Zulu

In [19]:
def ref_timezone(x): return x.astimezone(pytz.timezone('America/Recife'))

In [20]:
df['date'] = df['date'].apply(lambda x: ref_timezone(x))

In [21]:
df.dropna(inplace=True)

In [22]:
df['date'].unique()

<DatetimeArray>
['2022-07-04 11:30:15-03:00', '2022-06-02 09:08:45-03:00',
 '2022-05-14 23:12:47-03:00', '2022-05-25 12:42:20-03:00',
 '2022-05-17 21:15:23-03:00', '2022-06-03 09:23:10-03:00',
 '2022-05-27 16:00:41-03:00', '2022-05-25 08:01:30-03:00',
 '2022-06-09 16:45:48-03:00', '2022-06-09 15:59:28-03:00',
 ...
 '2022-05-21 21:56:43-03:00', '2022-06-26 12:58:17-03:00',
 '2022-05-08 19:07:13-03:00', '2022-03-24 12:24:14-03:00',
 '2021-05-31 09:55:00-03:00', '2021-10-22 12:06:46-03:00',
 '2022-05-04 00:48:43-03:00', '2022-06-10 14:30:23-03:00',
 '2022-03-23 12:34:50-03:00', '2022-05-31 12:11:31-03:00']
Length: 3880, dtype: datetime64[ns, America/Recife]

In [23]:
df['date'] = df['date'].apply(lambda x: ref_timezone(x))

In [24]:
df['date']

0      2022-07-04 11:30:15-03:00
1      2022-06-02 09:08:45-03:00
2      2022-05-14 23:12:47-03:00
3      2022-05-25 12:42:20-03:00
4      2022-05-17 21:15:23-03:00
                  ...
3878   2021-10-22 12:06:46-03:00
3879   2022-05-04 00:48:43-03:00
3880   2022-06-10 14:30:23-03:00
3881   2022-03-23 12:34:50-03:00
3882   2022-05-31 12:11:31-03:00
Name: date, Length: 3880, dtype: datetime64[ns, America/Recife]

In [25]:
df['dayofweek'] = df['date'].apply(lambda x: x.day_name())

In [26]:
df['dayofweek']

0          Monday
1        Thursday
2        Saturday
3       Wednesday
4         Tuesday
          ...
3878       Friday
3879    Wednesday
3880       Friday
3881    Wednesday
3882      Tuesday
Name: dayofweek, Length: 3880, dtype: object

In [27]:
df['dayofweek'] = pd.Categorical(df['dayofweek'], categories=[
    'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
    'Saturday', 'Sunday'], ordered=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3880 entries, 0 to 3882
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subject    3880 non-null   object
 1   from       3880 non-null   object
 2   date       3880 non-null   datetime64[ns, America/Recife]
 3   to         3880 non-null   object
 4   label      3880 non-null   object
 5   thread     3880 non-null   int64
 6   dayofweek  3880 non-null   category
dtypes: category(1), datetime64[ns, America/Recife](1), int64(1), object(4)
memory usage: 216.3+ KB

In [29]:
df['timeofday'] = df['date'].apply(lambda x: x.hour + x.minute/60 + x.second/3600)

In [30]:
df['year'] = df['date'].apply(lambda x: x.year)

In [31]:
df['month'] = df['date'].apply(lambda x: x.month_name())

In [32]:
df['month'] = pd.Categorical(df['month'], categories=[
    'January', 'February', 'March', 'April', 'May', 'June', 'July',
    'September', 'October', 'November', 'December'], ordered=True)

In [33]:
df.drop('date', axis=1, inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3880 entries, 0 to 3882
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subject    3880 non-null   object
 1   from       3880 non-null   object
 2   to         3880 non-null   object
 3   label      3880 non-null   object
 4   thread     3880 non-null   int64
 5   dayofweek  3880 non-null   category
 6   timeofday  3880 non-null   float64
 7   year       3880 non-null   int64
 8   month      3421 non-null   category
dtypes: category(2), float64(1), int64(2), object(4)
memory usage: 250.8+ KB

In [35]:
df.to_csv('emails_processado.csv')

<div class="alert alert-block alert-info">
    1° Questão
<div>

In [36]:
df_processado = pd.read_csv('emails_processado.csv')

df_processado.head(5)

,Unnamed: 0,subject,from,to,label,thread,dayofweek,timeofday,year,month
0,0,Time to get back in shape?,web@thefabulous.co,lipe.lftn@gmail.com,inbox,1737432777073915808,Monday,11.504167,2022,July
1,1,"""mio"", ""Tattoo Ideaa"" e 4 outras pastas inspir...",recommendations@discover.pinterest.com,Luis Felipe <lipe.lftn@gmail.com>,inbox,1734524772306003770,Thursday,9.145833,2022,June
2,2,=?utf-8?Q?Um_novo_aparelho_est=C3=A1_usando_su...,info@mailer.netflix.com,lipe.lftn@gmail.com,inbox,1732856530934467119,Saturday,23.213056,2022,May
3,3,"=?utf-8?Q?Pai_e_M=C3=A3e,_achamos_que_voc=C3=A...",info@mailer.netflix.com,lipe.lftn@gmail.com,inbox,1733813434473684566,Wednesday,12.705556,2022,May
4,4,"=?UTF-8?q?""Vs"",_""background_/_=D0=9E=D0=B1=D0=...",recommendations@discover.pinterest.com,Luis Felipe <lipe.lftn@gmail.com>,inbox,1733120937706351873,Tuesday,21.256389,2022,May

In [37]:
df_semana = pd.DataFrame(df_processado['dayofweek'].value_counts()).rename(columns={'dayofweek':'total'})
df_semana

           total
Monday       640
Friday       614
Thursday     613
Wednesday    611
Tuesday      607
Saturday     412
Sunday       383

In [38]:
df_mes = pd.DataFrame(df_processado['month'].value_counts()).rename(columns={'month':'total'})
df_mes

           total
July         427
September    409
March        335
June         323
November     320
May          311
April        310
January      262
October      261
February     234
December     229

In [39]:
df_ano = pd.DataFrame(df_processado['year'].value_counts()).rename(columns={'year':'total'})
df_ano

      total
2021   1925
2020   1255
2022    700

<div class="alert alert-block alert-info">
    2° Questão
<div>

É possivel perceber a descrepancia entre os periodos mais recebidos e os menos recebidos.

In [40]:
pd_maisRecebidos = pd.DataFrame(
    pd.concat(
        [df_semana.iloc[0],df_mes.iloc[0],df_ano.iloc[0]]
    )
).rename(columns={0:'total'})

pd_maisRecebidos['periodo'] = ['Monday','July','2021']
pd_maisRecebidos.set_index('periodo')

         total
periodo
Monday     640
July       427
2021      1925

In [41]:
pd_menosRecebidos = pd.DataFrame(
    pd.concat(
        [df_semana.iloc[-1],df_mes.iloc[-1],df_ano.iloc[-1]]
    )
).rename(columns={0:'total'})

pd_menosRecebidos['periodo'] = ['Sunday','December','2022']
pd_menosRecebidos.set_index('periodo')

          total
periodo
Sunday      383
December    229
2022        700

<div class="alert alert-block alert-info">
    3° Questão
<div>

In [42]:
pd.DataFrame(df_ano.iloc[-1])

       2022
total   700

Podemos ver que o ano de 2022 apresenta menos de 1000 emails recebidos, a justificativa mais logica é a de que o ano não acabou, logo estamos comparando os dados de metade de um ano (atualmente estamos no mês 07) com outros anos completos (12 meses > 7 meses).

<div class="alert alert-block alert-info">
    4° Questão
<div>

In [43]:
df_horasDoDia = pd.DataFrame(df_processado['timeofday'].round())
df_horasDoDia.value_counts()

timeofday
12.0         423
11.0         332
13.0         308
10.0         282
14.0         248
20.0         242
19.0         239
9.0          238
21.0         223
15.0         216
16.0         183
17.0         183
18.0         180
22.0         126
8.0           78
6.0           78
23.0          75
7.0           35
0.0           34
4.0           34
2.0           34
1.0           31
3.0           21
5.0           20
24.0          17
dtype: int64

Obsevamos que ao invés de 24 horas, temos 25 horas, pois o horario de meia noite, conta duas vezes, as 24 hrs e as 00 hrs.

In [44]:
mediaPorHora = float((df_horasDoDia.count())/25)
print('A media por hora é:', mediaPorHora)

A media por hora é: 155.2

In [76]:
divisao = df_processado['dayofweek'].value_counts()/7
divisao

Monday       91.428571
Friday       87.714286
Thursday     87.571429
Wednesday    87.285714
Tuesday      86.714286
Saturday     58.857143
Sunday       54.714286
Name: dayofweek, dtype: float64

Durante a semana posemos ver que os valores se aproximam da media maxima, mas permanecem abaixo dessa media, mas com algumas distancias quando comparamos dias de semana com os Fim de semana, justificando a diferença entre a media geral e da dos dias da semana.

In [78]:
print("Media da semana: ",divisao.sum()/7)

Media da semana:  79.18367346938774

a media da semana se aproxima da metade da media geral!!